<head><link rel='stylesheet' type="text/css" href='/style/style_blog.css' /></head>
  <div class='app'>
    <div class='home'>
      <div class='posts'>
        {{#each posts}}
          <div class='post'>
            <div class='img'>
              <img src='/upload/{{this.imageUrl}}' alt='' />
            </div>
            <div class='content'>
              <a class='link' href='/'>
                <h1>{{this.title}}</h1>
              </a>
              <p>{{this.content}}</p>
              <a href='/post/{{this.slug}}'>
                <button>Read More</button>
              </a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>