<head><link
    rel='stylesheet'
    type='text/css'
    href='/style/style_index.css'
  /></head>

<div class='hero'>
  <img src='./img/logo.jpg' alt='HeroImg' />
  <div class='hero-text'>
    <h1>Câu chuyện về hành trình của bạn</h1>
    <p>Lên kế hoạch du lịch trải nghiệm những điều tuyệt vời</p>
    <a class='show' href='./service'>Đặt vé</a>
  </div>
</div>
<div class='destination'>
    <h1>Gợi ý cho bạn</h1>
  {{!-- <h1>Điểm đến phổ biến</h1> --}}
  {{!-- <p>Tour give you the opportunity the city</p> --}}
  <div class='first-des'>
    <div class='des-text'>
      <h2>Du lịch Việt Nam</h2>
      <p>Tính đến năm 2020, Việt Nam có hơn 41.000 di tích, thắng cảnh trong đó có hơn 4.000 di tích được xếp hạng di tích quốc gia và hơn 9.000 di tích được xếp hạng cấp tỉnh. Mật độ và số lượng di tích nhiều nhất ở 11 tỉnh vùng đồng bằng sông Hồng với tỷ lệ chiếm khoảng 56% di tích của Việt Nam.

Qua 10 đợt xếp hạng, Việt Nam hiện có 112 di tích được xếp hạng Di tích quốc gia đặc biệt. Các di tích quốc gia đặc biệt ở Việt Nam được Thủ tướng chính phủ ra quyết định xếp hạng ở 2 đợt đầu gồm: Cố đô Hoa Lư, Di tích Pác Bó, Dinh Độc Lập, Hoàng thành Thăng Long, Khu căn cứ Trung ương Cục miền Nam, Khu di tích ATK Thái Nguyên, Khu di tích chiến thắng Điện Biên Phủ, Khu di tích Côn Sơn – Kiếp Bạc, Khu di tích khởi nghĩa Yên Thế, Khu di tích Kim Liên, Khu di tích Phủ Chủ tịch, Khu di tích Tân Trào, Khu lưu niệm chủ tịch Tôn Đức Thắng, Nhà tù Côn Đảo, Quần thể di tích Cố đô Huế, Thành nhà Hồ, Thánh địa Mỹ Sơn, Thắng cảnh Tràng An – Tam Cốc – Bích Động, Văn Miếu – Quốc Tử Giám, Vườn quốc gia Phong Nha – Kẻ Bàng, Vịnh Hạ Long, Đô thị cổ Hội An và Đền Hùng.
      </p>
    </div>
    <div class='image'>
      <img src='./img/logo.jpg' alt='img' />
      <img src='./img/1.jpg' alt='img' />
    </div>
  </div>
  <div class='first-des-reverse'>
    <div class='des-text'>
      <h2>Danh hiệu UNESCO</h2>
      <p>Danh hiệu UNESCO ở Việt Nam gồm danh sách các di sản thế giới, khu dự trữ sinh quyển thế giới, di sản tư liệu thế giới, công viên địa chất toàn cầu, di sản văn hóa phi vật thể của nhân loại… đã được UNESCO công nhận tại Việt Nam. Trong hệ thống các danh hiệu của UNESCO, di sản thế giới là danh hiệu danh giá nhất và lâu đời nhất.  Thủ đô Hà Nội hiện sở hữu nhiều danh hiệu UNESCO trao tặng nhất cho các đối tượng: Hoàng thành Thăng Long, Bia tiến sĩ Văn Miếu Thăng Long, ca trù, Hội Gióng, Kéo Co và Tín ngưỡng thờ Mẫu Việt Nam. Đến năm 2019, các tỉnh sở hữu từ ba loại danh hiệu UNESCO khác nhau trở lên là: Ninh Bình, Quảng Nam, Lâm Đồng và Hà Nội; Các tỉnh Bắc Kạn, Điện Biên, Lai Châu, Sơn La, Thái Nguyên chưa từng sở hữu một danh hiệu UNESCO nào.
      </p>
    </div>
    <div class='image'>
      <img src='./img/top1.jpg' alt='img' />
      <img src='./img/top2.jpg' alt='img' />
    </div>
  </div>
</div>